.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.724000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.018000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.989000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.042000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.707000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.737305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.957000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.989000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-455.583189px;}
._0{width:8.999612px;}
.fc1{color:rgb(251,250,248);}
.fc2{color:rgb(1,1,1);}
.fc0{color:rgb(0,0,0);}
.fs9{font-size:37.620220px;}
.fs2{font-size:39.719998px;}
.fs7{font-size:39.989998px;}
.fs3{font-size:44.675775px;}
.fs8{font-size:47.601264px;}
.fs6{font-size:47.969997px;}
.fs5{font-size:47.999998px;}
.fs1{font-size:54.299553px;}
.fs4{font-size:55.979998px;}
.fs0{font-size:130.919992px;}
.y0{bottom:-0.500000px;}
.y1{bottom:0.000007px;}
.y34{bottom:5.877480px;}
.y6{bottom:6.750000px;}
.y8{bottom:8.250000px;}
.y33{bottom:20.127479px;}
.y32{bottom:34.377479px;}
.y39{bottom:38.715293px;}
.y31{bottom:48.627478px;}
.y30{bottom:62.877477px;}
.y3c{bottom:74.348023px;}
.y2f{bottom:77.127477px;}
.y3d{bottom:80.698054px;}
.y3b{bottom:87.048022px;}
.y2e{bottom:91.377476px;}
.y3a{bottom:105.555050px;}
.y2d{bottom:105.627476px;}
.y2c{bottom:119.877475px;}
.y2b{bottom:134.127474px;}
.y2a{bottom:149.127474px;}
.y5e{bottom:154.295562px;}
.y29{bottom:167.127473px;}
.y5d{bottom:168.545561px;}
.y5c{bottom:182.795560px;}
.y28{bottom:185.127472px;}
.y5b{bottom:197.045560px;}
.y27{bottom:206.607075px;}
.y5a{bottom:211.295559px;}
.y37{bottom:218.047686px;}
.y26{bottom:220.857075px;}
.y59{bottom:225.545559px;}
.y25{bottom:235.107074px;}
.y58{bottom:240.545558px;}
.y24{bottom:249.357074px;}
.y36{bottom:253.981301px;}
.y57{bottom:258.545557px;}
.y23{bottom:263.607073px;}
.y56{bottom:276.545556px;}
.y22{bottom:277.857072px;}
.y35{bottom:289.548339px;}
.y21{bottom:292.107072px;}
.y20{bottom:306.357071px;}
.y55{bottom:309.938308px;}
.yc{bottom:314.540204px;}
.y1f{bottom:320.607071px;}
.y54{bottom:324.188307px;}
.yb{bottom:330.062425px;}
.y1e{bottom:334.857070px;}
.y53{bottom:338.438307px;}
.y1d{bottom:349.107069px;}
.y52{bottom:352.688306px;}
.y9{bottom:356.864184px;}
.y1c{bottom:363.357069px;}
.y51{bottom:366.938306px;}
.y1b{bottom:377.607068px;}
.y50{bottom:381.188305px;}
.ya{bottom:383.653713px;}
.y1a{bottom:391.857068px;}
.y4f{bottom:395.438304px;}
.y19{bottom:406.107067px;}
.y7{bottom:408.331396px;}
.y4e{bottom:410.438304px;}
.y18{bottom:420.357066px;}
.y4d{bottom:428.438303px;}
.y17{bottom:434.607066px;}
.y4c{bottom:446.438302px;}
.y16{bottom:448.857065px;}
.y15{bottom:463.107065px;}
.y38{bottom:472.129031px;}
.y14{bottom:477.357064px;}
.y13{bottom:491.607064px;}
.y12{bottom:505.857063px;}
.y4a{bottom:507.369420px;}
.y11{bottom:520.107062px;}
.y49{bottom:521.619420px;}
.y10{bottom:534.357062px;}
.y48{bottom:535.869419px;}
.yf{bottom:549.357061px;}
.y47{bottom:550.119419px;}
.y46{bottom:564.369418px;}
.ye{bottom:567.357060px;}
.y45{bottom:578.619417px;}
.yd{bottom:585.357060px;}
.y44{bottom:592.869417px;}
.y5{bottom:601.083512px;}
.y43{bottom:607.119416px;}
.y42{bottom:621.369416px;}
.y41{bottom:635.619415px;}
.y4{bottom:636.932792px;}
.y40{bottom:650.619414px;}
.y3{bottom:665.413316px;}
.y3f{bottom:668.619414px;}
.y3e{bottom:686.619413px;}
.y2{bottom:701.413315px;}
.y4b{bottom:708.923238px;}
.h5{height:20.999999px;}
.h7{height:23.999999px;}
.hd{height:27.923158px;}
.hf{height:28.478507px;}
.h12{height:30.272429px;}
.h6{height:32.570398px;}
.hc{height:33.671578px;}
.he{height:34.562050px;}
.h11{height:36.313288px;}
.h8{height:36.634136px;}
.h10{height:37.775998px;}
.h4{height:38.661282px;}
.hb{height:40.390738px;}
.ha{height:40.415998px;}
.h9{height:44.056258px;}
.h3{height:91.643994px;}
.h2{height:791.999967px;}
.h0{height:791.999994px;}
.h1{height:792.500000px;}
.w4{width:206.249991px;}
.w3{width:253.499961px;}
.w6{width:385.499955px;}
.w5{width:538.499978px;}
.w2{width:611.999975px;}
.w0{width:612.000000px;}
.w1{width:612.500000px;}
.x0{left:0.000000px;}
.x6{left:36.914757px;}
.xb{left:38.945162px;}
.x5{left:60.996064px;}
.x7{left:71.894505px;}
.x16{left:72.941254px;}
.x8{left:78.670991px;}
.x18{left:89.933441px;}
.xf{left:133.863250px;}
.xe{left:174.479904px;}
.x1a{left:187.873212px;}
.x17{left:195.949193px;}
.x19{left:205.843892px;}
.xc{left:229.617157px;}
.x9{left:251.103006px;}
.x4{left:266.858689px;}
.x14{left:276.699870px;}
.xa{left:285.099099px;}
.x13{left:292.122873px;}
.x2{left:325.632935px;}
.x1{left:340.363403px;}
.x3{left:356.688062px;}
.x12{left:367.563177px;}
.x15{left:387.254456px;}
.x11{left:457.113274px;}
.x10{left:472.392961px;}
.xd{left:477.959764px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-607.444252pt;}
._0{width:11.999483pt;}
.fs9{font-size:50.160294pt;}
.fs2{font-size:52.959997pt;}
.fs7{font-size:53.319997pt;}
.fs3{font-size:59.567701pt;}
.fs8{font-size:63.468351pt;}
.fs6{font-size:63.959997pt;}
.fs5{font-size:63.999997pt;}
.fs1{font-size:72.399404pt;}
.fs4{font-size:74.639997pt;}
.fs0{font-size:174.559989pt;}
.y0{bottom:-0.666667pt;}
.y1{bottom:0.000009pt;}
.y34{bottom:7.836640pt;}
.y6{bottom:9.000000pt;}
.y8{bottom:11.000000pt;}
.y33{bottom:26.836639pt;}
.y32{bottom:45.836638pt;}
.y39{bottom:51.620391pt;}
.y31{bottom:64.836637pt;}
.y30{bottom:83.836637pt;}
.y3c{bottom:99.130697pt;}
.y2f{bottom:102.836636pt;}
.y3d{bottom:107.597406pt;}
.y3b{bottom:116.064030pt;}
.y2e{bottom:121.836635pt;}
.y3a{bottom:140.740067pt;}
.y2d{bottom:140.836634pt;}
.y2c{bottom:159.836633pt;}
.y2b{bottom:178.836633pt;}
.y2a{bottom:198.836632pt;}
.y5e{bottom:205.727415pt;}
.y29{bottom:222.836631pt;}
.y5d{bottom:224.727415pt;}
.y5c{bottom:243.727414pt;}
.y28{bottom:246.836630pt;}
.y5b{bottom:262.727413pt;}
.y27{bottom:275.476101pt;}
.y5a{bottom:281.727412pt;}
.y37{bottom:290.730248pt;}
.y26{bottom:294.476100pt;}
.y59{bottom:300.727411pt;}
.y25{bottom:313.476099pt;}
.y58{bottom:320.727411pt;}
.y24{bottom:332.476098pt;}
.y36{bottom:338.641734pt;}
.y57{bottom:344.727410pt;}
.y23{bottom:351.476097pt;}
.y56{bottom:368.727409pt;}
.y22{bottom:370.476097pt;}
.y35{bottom:386.064452pt;}
.y21{bottom:389.476096pt;}
.y20{bottom:408.476095pt;}
.y55{bottom:413.251077pt;}
.yc{bottom:419.386939pt;}
.y1f{bottom:427.476094pt;}
.y54{bottom:432.251076pt;}
.yb{bottom:440.083234pt;}
.y1e{bottom:446.476093pt;}
.y53{bottom:451.251076pt;}
.y1d{bottom:465.476093pt;}
.y52{bottom:470.251075pt;}
.y9{bottom:475.818912pt;}
.y1c{bottom:484.476092pt;}
.y51{bottom:489.251074pt;}
.y1b{bottom:503.476091pt;}
.y50{bottom:508.251073pt;}
.ya{bottom:511.538284pt;}
.y1a{bottom:522.476090pt;}
.y4f{bottom:527.251072pt;}
.y19{bottom:541.476089pt;}
.y7{bottom:544.441861pt;}
.y4e{bottom:547.251072pt;}
.y18{bottom:560.476089pt;}
.y4d{bottom:571.251071pt;}
.y17{bottom:579.476088pt;}
.y4c{bottom:595.251070pt;}
.y16{bottom:598.476087pt;}
.y15{bottom:617.476086pt;}
.y38{bottom:629.505375pt;}
.y14{bottom:636.476085pt;}
.y13{bottom:655.476085pt;}
.y12{bottom:674.476084pt;}
.y4a{bottom:676.492561pt;}
.y11{bottom:693.476083pt;}
.y49{bottom:695.492560pt;}
.y10{bottom:712.476082pt;}
.y48{bottom:714.492559pt;}
.yf{bottom:732.476081pt;}
.y47{bottom:733.492558pt;}
.y46{bottom:752.492557pt;}
.ye{bottom:756.476080pt;}
.y45{bottom:771.492557pt;}
.yd{bottom:780.476079pt;}
.y44{bottom:790.492556pt;}
.y5{bottom:801.444683pt;}
.y43{bottom:809.492555pt;}
.y42{bottom:828.492554pt;}
.y41{bottom:847.492553pt;}
.y4{bottom:849.243723pt;}
.y40{bottom:867.492553pt;}
.y3{bottom:887.217755pt;}
.y3f{bottom:891.492552pt;}
.y3e{bottom:915.492551pt;}
.y2{bottom:935.217753pt;}
.y4b{bottom:945.230984pt;}
.h5{height:27.999999pt;}
.h7{height:31.999999pt;}
.hd{height:37.230878pt;}
.hf{height:37.971342pt;}
.h12{height:40.363238pt;}
.h6{height:43.427198pt;}
.hc{height:44.895438pt;}
.he{height:46.082734pt;}
.h11{height:48.417717pt;}
.h8{height:48.845514pt;}
.h10{height:50.367998pt;}
.h4{height:51.548376pt;}
.hb{height:53.854317pt;}
.ha{height:53.887998pt;}
.h9{height:58.741678pt;}
.h3{height:122.191992pt;}
.h2{height:1055.999956pt;}
.h0{height:1055.999992pt;}
.h1{height:1056.666667pt;}
.w4{width:274.999989pt;}
.w3{width:337.999948pt;}
.w6{width:513.999940pt;}
.w5{width:717.999970pt;}
.w2{width:815.999966pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x6{left:49.219676pt;}
.xb{left:51.926883pt;}
.x5{left:81.328086pt;}
.x7{left:95.859340pt;}
.x16{left:97.255006pt;}
.x8{left:104.894655pt;}
.x18{left:119.911255pt;}
.xf{left:178.484333pt;}
.xe{left:232.639872pt;}
.x1a{left:250.497616pt;}
.x17{left:261.265591pt;}
.x19{left:274.458523pt;}
.xc{left:306.156209pt;}
.x9{left:334.804008pt;}
.x4{left:355.811585pt;}
.x14{left:368.933160pt;}
.xa{left:380.132132pt;}
.x13{left:389.497164pt;}
.x2{left:434.177247pt;}
.x1{left:453.817871pt;}
.x3{left:475.584083pt;}
.x12{left:490.084236pt;}
.x15{left:516.339274pt;}
.x11{left:609.484365pt;}
.x10{left:629.857281pt;}
.xd{left:637.279685pt;}
}
